<head>
	<!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" -->
	<link rel="stylesheet" href="/assets/css/3.3.7/bootstrap.min.css">
	<script src="/assets/js/3.4.1/bootstrap.min.js"></script>
</head>

<div class="slider-active dot-style" style="position: relative; width:100%; padding-bottom:0.5px; margin-top:-1%; ">
<!--div class="container mt-5 mb-5" style="position: relative; width:100%; padding-bottom:0.5px;" -->

	<!--div class="single-slider  hero-overly slider-height d-flex align-items-center"
		data-background="img/h1_hero.jpg" -->
		<span style="margin-left:0.4%; ">
		<img class="img-fluid" style="height: 492px;" src="/img/shaam-beauty.jpg" alt="SHAA'M Beauty"><h5 class="img1-txt">Notre vitrine</h5></img>
		<img class="img-fluid" style="height: 492px;" src="/img/shaam-beauty-1.jpg" alt="SHAA'M Beauty 1"><h5 class="img2-txt">Des postes de travail</h5></img>
		<img class="img-fluid" style="height: 492px;" src="/img/shaam-beauty-2.jpg" alt="SHAA'M Beauty 1"><h5 class="img3-txt">L'entrée du salon</h5></img>
		<img class="img-fluid" style="height: 492px;" src="/img/shaam-beauty-3.jpg" alt="SHAA'M Beauty 1"><h5 class="img4-txt">Des postes de travail</h5></img>
		<img class="img-fluid" style="height: 492px;" src="/img/shaam-beauty-4.jpg" alt="SHAA'M Beauty 1"><h5 class="img5-txt">Salle principale</h5></img>
		</span>
	</div>
</div>
