<div class="container mt-5 mb-5" style="position: relative; left:20%; width: 80%;">
		<div class="col-lg-4 col-md-6 col-sm-12 text-center position" style="background-color: #F5F5F5;">
			<h3 style="color: #0000AA;" class="text-center">Quitter SHAA'M Beauty</h3><br>
			<h5>Confirmer votre déconnection</h5>
			<form action="/logout" method="POST">
				<input type="submit" value="Je quitte" class="btn btn-info btn-lg">
			</form>
		</div>
</div>